#TabsToolbar {
    visibility: collapse;
  }
  
  #TabsToolbar .titlebar-buttonbox-container {
    display: block;
    position: absolute;
    visibility: visible;
  }
  

  

  :root { /* settings */
  
    /* width of the sidebar */
    --sdbr-max-wdt: 150px;
    
    /* width of sidebar on thin mode */
    --sdbr-min-wdt: 60px;
    
    /* duration of animationes */
    --anim-dur: .2s;
    
    /* border radius of theme */
    --brdr-rad: 10px;
    
    /* spacing around the page and some ui items */
    --page-pad: .8rem;
    
    /* color of the border around the page and sidebar overlay */
    --brdr-col: #fafafa30;
    
    /* color of the shadow around the sidebar overlay */
    --shdw-col: #00000020;
  
    /* the highlight in some areas when in private window */
    --prvt-col: #6e00bc80;
    
    /* how much the panels stick out in the inactive state */
    --pnels-prtr: 5px;
    
    /* opacity of some items in the inactive state */
    --nonh-opct: 0.1;
  }
  
  
  
  /* layout set up */
  :root {
    --bg-col: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
    --tb-col: var(--toolbar-bgcolor);
    --sdbr-pad: calc(var(--page-pad) * 0.65);
    --trans-var: all var(--anim-dur) ease;
    --brdr-var: 1px solid var(--brdr-col);
    --outline-var: 1px solid var(--shdw-col);
  }
  
  
  
  #sidebar-box {
    position: absolute;
    overflow: clip;
    z-index: 1;
  
    margin-top: -1px;

    width: var(--sdbr-max-wdt) !important;
    height: 100%;
    right: calc(100% - var(--page-pad) - var(--pnels-prtr));
    
    min-width: 30px !important;
    opacity: 0.5;
    
    background: var(--bg-col) !important;
    padding: var(--sdbr-pad);
    padding-top: var(--sdbr-pad) !important;
    
    border-radius: var(--brdr-rad);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none !important;
    border: var(--brdr-var);
    outline: var(--outline-var);
    
    transition: var(--trans-var) !important;
    
    & > * {
      opacity: var(--nonh-opct);
      transition: var(--trans-var) !important;
    }
  }
  
  #sidebar-close, #sidebar-header { display: none }
  #sidebar { background: var(--brws-tb-col) }
  
  /* show on hover */
  #main-window:has(
    #sidebar-box:hover
  ) {
    #sidebar-box {
      opacity: 1;
      right: calc(100%  - var(--sdbr-max-wdt));
      & > * {
      opacity: 1;
      }
    }
  }
  

  
  #sidebar-header {
    display: none !important;
    border-bottom: none !important;
    border: none !important;
    background-color: none !important;
    border-inline-color: none !important;
  }
  
  /* Support for languages that are read from right to left */
  #sidebar-box[positionend] {
    direction: rtl;
  }
  
  #sidebar-box[positionend]>* {
    direction: ltr;
  }
  
  #sidebar-box[positionend]:-moz-locale-dir(rtl) {
    direction: ltr;
  }
  
  #sidebar-box[positionend]:-moz-locale-dir(rtl)>* {
    direction: rtl;
  }
  
  
  #sidebar-icon {
    filter: contrast(150%);
    opacity: 1;
  }
  
  .sidebar-placesTree {
    position: relative;
    border-top-right-radius: 6px;
    background: var(--gg-black) !important;
    color: var(--gg-fg-alt) !important;
  }
  
  /* Uncomment if you place your sidebar to the right */
  /* .sidebar-placesTree {
      border-top-right-radius: 0;
      border-top-left-radius: 6px;
  } */
  
  .sidebar-placesTree:before {
    right: auto;
    left: 0;
  }
  
  #sidebar-title {
    font-size: 1.1rem;
  }
  
  
  #historyTree .sidebar-placesTreechildren {
    margin-left: -8px;
  }
  
  #sidebar-splitter {
    margin-top: -1px;
    width: 0px !important;
    border: -1px solid gainsboro !important;
  }
  
  #sidebar,
  #sidebar-header {
    border-inline-width: 0px 4px;
  }
  
  #sidebar-box:not([positionend])> :-moz-locale-dir(rtl),
  #sidebar-box[positionend]>* {
    border-inline-width: 4px 0px;
  }
  
  /* Hide on fullscreen */
  #main-window[sizemode="fullscreen"] #sidebar-box,
  #main-window[sizemode="fullscreen"] #sidebar-splitter {
    /* --- Match the transition from the toolbar; swap to margin-right if you use the sidebar to the right --- */
    /* transition: .8s margin-left ease-out !important; */
    display: none !important;
  }
  
  /* Search Bar */
  .searchbar-engine-image {
    width: 16px;
    height: 16px;
    list-style-image: url("chrome://global/skin/icons/defaultFavicon.svg");
    -moz-context-properties: fill;
    fill: currentColor;
  }
  
  .search-one-offs:not([hidden]) {
    display: block;
    width: 100%;
  }
  
  .search-panel-one-offs-header {
    display: block;
  }
  
  .search-panel-header {
    font-weight: normal;
    margin: 0;
  }
  
  .search-panel-header>label {
    margin-top: 2px;
    margin-bottom: 1px;
    opacity: .6;
  }
  
  #PopupSearchAutoComplete>menuseparator::before {
    border: 0 !important;
  }
  
  /* Make the contrast stronger in dark mode */
  :root[lwt-toolbar-field-focus="dark"] .search-panel-header>label {
    opacity: 1;
  }
  
  /**
       * The borders of the various elements are specified as follows.
       *
       * The current engine always has a bottom border.
       * The search results never have a border.
       *
       * When the search results are not collapsed:
       * - The elements underneath the search results all have a top border.
       *
       * When the search results are collapsed:
       * - The elements underneath the search results all have a bottom border.
       */
  
  .search-panel-current-engine {
    padding: 7px !important;
  }
  
  .search-panel-one-offs:not([hidden]),
  .search-panel-one-offs-container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  
  .search-panel-one-offs {
    margin: 0 !important;
    /* Bug 1108841: prevent font-size from affecting the layout */
    line-height: 0;
    flex-wrap: wrap;
  }
  
  .searchbar-engine-one-off-item {
    appearance: none;
    display: inline-flex;
    background-color: transparent;
    border: none;
    min-width: 32px;
    height: 32px;
    margin-inline-end: 8px;
    margin-block: 0;
    padding: 0;
    color: inherit;
    border-radius: var(--toolbarbutton-border-radius);
  }
  
  @media (-moz-platform: windows) {
    .searchbar-engine-one-off-item:focus-visible {
      outline: none;
    }
  }
  
  /* We don't handle `:active` because it doesn't work on the search or settings
         buttons due to event.preventDefault() in SearchOneOffs._on_mousedown(). */
  .searchbar-engine-one-off-item:not([selected]):hover {
    background-color: var(--urlbarView-hover-background);
    color: inherit;
  }
  
  .searchbar-engine-one-off-item[selected] {
    background-color: var(--urlbarView-highlight-background);
    color: var(--urlbarView-highlight-color);
  }
  
  .searchbar-engine-one-off-item>.button-box>.button-text {
    display: none;
  }
  
  .searchbar-engine-one-off-item>.button-box>.button-icon {
    margin-inline: 0;
    width: 16px;
    height: 16px;
  }
  
  .search-panel-tree {
    background: transparent;
    color: inherit;
  }
  
  .search-panel-tree>.autocomplete-richlistitem {
    padding: 4px !important;
  }
  
  .search-panel-tree>.autocomplete-richlistitem:hover {
    background-color: gray;
  }
  
  .search-panel-tree>.autocomplete-richlistitem>.ac-type-icon {
    display: flex;
    width: 14px;
    height: 14px;
    margin-inline-end: 7px;
  }
  
  .search-panel-tree>.autocomplete-richlistitem[originaltype="fromhistory"]>.ac-type-icon {
    list-style-image: url("chrome://browser/skin/history.svg");
    -moz-context-properties: fill;
    fill: currentColor;
    fill-opacity: 0.6;
  }
  
  .search-panel-tree>.autocomplete-richlistitem[originaltype="fromhistory"][selected]>.ac-type-icon {
    fill-opacity: 1;
  }
  
  .searchbar-separator {
    appearance: none;
  
    padding: 0;
    border: 0;
  
    color: inherit;
  }
  
  .search-panel-tree[collapsed=true]+.searchbar-separator {
    display: none;
  }
  
  .search-setting-button {
    max-height: 32px;
    align-self: end;
    margin-inline: 0;
  }
  
  .search-setting-button>.button-box>.button-icon {
    list-style-image: url("chrome://global/skin/icons/settings.svg");
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
    fill-opacity: 0.7;
  }
  
  @media (-moz-platform: windows) {
    #PopupSearchAutoComplete {
      --panel-border-radius: 0.6rem;
    }
  }
  
  @media (-moz-platform: macos) {
    #PopupSearchAutoComplete {
      border-radius: 4px;
    }
  }
  
  
  
  :root {
    --urlbar-min-height: 30px !important;
    --urlbarView-item-inline-padding: 14px !important;
    --urlbar-icon-border-radius: calc(var(--toolbarbutton-border-radius) + 14px) !important;
    --urlbar-icon-padding: calc(var(--toolbarbutton-inner-padding) - 2px) !important;
    --fp-urlbar-icon-inline-padding: calc(var(--fp-toolbarbutton-inner-inline-padding) - 2px) !important;
    --identity-box-margin-inline: 2px !important;
  }
  
  :root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #urlbar[focused="true"]:not([suppress-focus-border])>#urlbar-background,
  :root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #searchbar:focus-within {
    outline-color: color-mix(in srgb, var(--toolbar-field-focus-border-color) 50%, transparent) !important;
  }
  
  @media not (-moz-gtk-csd-available) {
  
    #urlbar[focused="true"]:not([suppress-focus-border])>#urlbar-background:not(:-moz-lwtheme),
    #searchbar:not(:-moz-lwtheme):focus-within {
      --fp-outline-dimmed: color-mix(in srgb, var(--toolbar-field-focus-border-color) 50%, transparent);
      outline-color: light-dark(var(--fp-outline-dimmed), var(--toolbar-field-focus-border-color)) !important;
    }
  }
  
  :root:not([lwtheme-brighttext="true"]) #urlbar-background {
    box-shadow: var(--fp-urlbar-shadow, none);
  }
  
  #urlbar[open]>#urlbar-background {
    border-color: transparent !important;
    box-shadow: 0 10px 16px #0005, 0 0 1px #0006 !important;
  }
  
  .urlbarView {
    margin-inline: 0 !important;
    width: 100% !important;
    border-inline: 0 !important;
  }
  
  .urlbarView-row {
    padding-block: 0 !important;
  }
  
  .urlbarView-row-inner {
    border-radius: 0 !important;
    padding-block: 8px !important;
  }
  
  .urlbarView-row:not([type="tip"], [type="dynamic"])[selected]>.urlbarView-row-inner,
  .urlbarView-row-inner[selected] {
    box-shadow: 3px 0 var(--toolbar-field-focus-border-color) inset !important;
  }
  
  #urlbar-anon-search-settings {
    margin-inline-end: 8px !important;
  }
  
  #urlbar .search-one-offs:not([hidden]) {
    padding-block: 8px 0 !important;
  }
  
  /* breakout */
  #urlbar[breakout][breakout-extend] {
    left: 0 !important;
    width: 100% !important;
  }
  
  #urlbar[breakout][breakout-extend]>#urlbar-input-container {
    padding-inline: var(--urlbar-container-padding) !important;
  }
  
  .urlbarView-results {
    padding-block: 0 !important;
  }
  
  #urlbar[open]>.urlbarView>.urlbarView-body-outer>.urlbarView-body-inner,
  .urlbarView:not([noresults])>.search-one-offs:not([hidden]) {
    border-top: 0 !important;
  }
  
  /* urlbar spacing */
  #urlbar-container {
    --urlbar-container-height: calc(8px + 16px + var(--toolbarbutton-inner-padding) * 2) !important;
  }
  
  #urlbar {
    --urlbar-toolbar-height: calc(8px + 16px + var(--toolbarbutton-inner-padding) * 2) !important;
    --urlbar-height: calc(16px + var(--toolbarbutton-inner-padding) * 2) !important;
  }
  
  #urlbar-container,
  #search-container {
    margin-inline: 6px !important;
  }
  
  .urlbar-page-action,
  #urlbar-go-button,
  .search-go-button {
    padding-inline: 3px !important;
    width: calc(3px * 2 + 16px) !important;
  }
  
  #identity-box[pageproxystate="valid"].notSecureText>.identity-box-button,
  #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button,
  #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button,
  #urlbar-label-box {
    width: unset !important;
  }
  
  #identity-icon-box,
  #identity-permission-box,
  .notification-anchor-icon {
    padding-inline: 3px !important;
  }
  
  #urlbar-background,
  #searchbar {
    border-radius: var(--urlbar-icon-border-radius) !important;
  }
  
  #urlbar:hover:not([suppress-focus-border])>#urlbar-background,
  #searchbar:hover {
    outline: 1.5px solid var(--urlbar-hover-highlight-color);
  }
  
  #urlbar,
  #searchbar {
    padding: 0 4px !important;
  }
  
  @media (max-width: 450px) {
    #urlbar-container:not(:hover) #pageActionButton {
      visibility: collapse !important;
    }
  }
  
  @media (max-width: 570px) {
    #urlbar-container {
      min-width: 206px !important;
    }
  
    #nav-bar-customization-target:not(:hover) #downloads-button:not([open]) {
      visibility: collapse !important;
    }
  }
  
  #urlbar[focused="true"]:not([suppress-focus-border])>#urlbar-background,
  #searchbar:focus-within {
    outline-offset: calc(var(--focus-outline-width) * -1 + 1px) !important;
  }
  
  .urlbarView {
    padding-block-end: 8px !important;
  }
  
  .urlbarView-row[pinned]>.urlbarView-row-inner>.urlbarView-no-wrap>.urlbarView-type-icon {
    fill: var(--toolbar-field-color) !important;
  }
  
  #userContext-icons,
  #urlbar-zoom-button {
    padding-inline: var(--fp-urlbar-icon-inline-padding) !important;
    margin-block: 0 !important;
    margin-inline: 0 !important;
  }
  
  #page-action-buttons > * {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  /* make urlbar icons opaque in default theme */
  #urlbar-input::placeholder,
  .searchbar-textbox::placeholder {
    opacity: 0.6 !important;
  }
  
  :is(:root:not(:-moz-lwtheme), :root[style*="--lwt-accent-color: rgb(240, 240, 244)"]) #identity-icon-label {
    opacity: var(--urlbar-icon-fill-opacity) !important;
  }
  
  #notification-popup-box:hover {
    background-color: var(--urlbar-box-hover-bgcolor) !important;
  }
  
  #notification-popup-box:hover:active,
  #notification-popup-box[open] {
    background-color: var(--urlbar-box-active-bgcolor) !important;
  }
  
  /* remove background from urlbar box */
  #identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:not(:hover, [open]),
  #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:not(:hover, [open]),
  #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button:not(:hover, [open]) {
    background-color: transparent !important;
  }
  
  :is(:root:not(:-moz-lwtheme),
    :root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #urlbar[focused="true"],
    :root[lwt-default-theme-in-dark-mode="true"],
    :root[style*="--lwt-accent-color: rgb(28, 27, 34)"]) #urlbar-search-mode-indicator {
    background-color: var(--urlbar-box-hover-bgcolor) !important;
  }
  
  /* increase space between icon and text */
  #identity-icon-label {
    padding-inline-start: 8px !important;
  }
  
  /* separator for urlbar box */
  #identity-box {
    position: relative;
  }
  
  :is(#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button,
    #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button,
    #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button)::after {
    content: "";
    position: absolute;
    display: block;
    height: 16px;
    border-right: 1px solid currentColor;
    right: 0;
    top: calc((var(--urlbar-height) / 2 - 1px - var(--urlbar-container-padding)) - 8px);
    opacity: 0;
  }
  
  @media not (prefers-reduced-motion) {
  
    :is(#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button,
      #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button,
      #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button)::after {
      transition: opacity 0.2s ease;
    }
  }
  
  :is(#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:not(:hover, [open]),
    #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:not(:hover, [open]),
    #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button:not(:hover, [open]))::after {
    opacity: 0.375;
  }
